
{{> navbar/render
        style="navbar--example"
        position='sticky-top'
        navigation=(use navigation as='navbar')
}}

<div class="container">
    <div class="row">
        <div class="col-12">
            {{> breadcrumb/render items=(use baseModel as='breadcrumb')}}
        </div>
    </div>
</div>
