<div class="c-postIframe {{?: block.items.fullSize "c-postIframe--fullSize"}}">
    <iframe src="{{block.items.iframeUrl}}" width="{{fallback block.items.width '100%'}}"
            {{#if block.items.height}}height="{{block.items.height}}"{{/if}}
    ></iframe>
</div>
