{{!< empty }}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>All products</h1>
        </div>
        {{#each productList as |product|}}
            <div class="col-4">
                {{> card/render item=(use product as="card") }}
            </div>
        {{/each}}
    </div>
</div>
