{{#contentFor "body"}}

    <div class="c-bloglanding container">
        <div class="row">
            {{#if hotTags}}
                <div class="col-12">
                    <div class="hot-tags">
                        <h2 class="hot-tags__title">Hot Tags</h2>
                        <ul class="hot-tags__list">
                            {{#each hotTags as |tag|}}
                                <li>
                                    <a href="/blog/tags/{{tag}}">{{tag}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            {{/if}}

            {{#if (has-items featurePosts)}}

                <div class="col-12">
                    <h2 class="featured-post__title">Featured Posts</h2>
                </div>

                {{#each featurePosts as |post|}}
                    <div class="{{?: (equals @index 0) "col-8" "col-4"}} mb-4">

                        {{> card/render
                                style='post'
                                variation=(?: (equals @index 0) 'overlay' 'vertical')
                                item=(use post as='card' document=../blogSettings)
                        }}

                    </div>
                {{/each}}
            {{/if}}

            {{#each categories as |catInfo|}}
                <div class="col-12">
                    <h2 class="blog-category__title">{{catInfo.category.label}}</h2>
                </div>

                {{#each catInfo.posts.articles as |post|}}
                    <div class="{{?: (equals @index 0) "col-8" "col-4"}} mb-4">

                        {{> card/render
                                style='post'
                                variation=(?: (equals @index 0) 'overlay' 'vertical')
                                item=(use post as='card')
                        }}

                    </div>
                {{/each}}
            {{/each}}
        </div>
    </div>

{{/contentFor}}

{{> commonpage/page }}
