{{#contentFor "body"}}

    {{> blog_detail/postTop . }}

    <div class="container">
        <div class="row">
            <div class="col-9">
                {{> blog_detail/postHeader .}}

                <div class="c-article">
                    {{> blog_detail/postBody . }}
                </div>
            </div>

            <div class="col-3">
                {{> blog_detail/postSidebar .}}
            </div>
        </div>
    </div>

    {{> blog_detail/postBottom . }}

{{/contentFor}}

{{> commonpage/page }}
